{% extends 'my_app/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-4" align="center">
            <h5>Наименование</h5>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-4" align="center">
            <h5>Заказано</h5>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-4" align="center">
            <h5>Цены по маркетам</h5>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-4" align="center">
            {% for name in products_names %}
            <h5>{{name}}</h5>
            {% endfor %}
        </div>
        <div class="col-xl-4 col-md-6 col-sm-4" align="center">
            {% for count in products_amount %}
            <h5>{{count}}</h5>
            {% endfor %}
        </div>
        <div class="col-xl-4 col-md-4 col-sm-4" align="center">
            {% for market in markets %}
            <h5>{{market}}</h5>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12" align="center">
            <h5><b>ВАШ ЗАКАЗ</b></h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-2 col-md-2 col-sm-2" align="center">
            <h5><i>Продукт</i></h5>
            {% for item in products_names %}
            <h5>{{item}}</h5>
            {% endfor %}
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>Кол-во</i></h5>
            {% for item in products_amount %}
            <h5>{{item}}</h5>
            {% endfor %}
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>АТБ</i></h5>
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>ЭКО</i></h5>
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>Varus</i></h5>
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>Сильпо</i></h5>
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>Ашан</i></h5>
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>Novus</i></h5>
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>Metro</i></h5>
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>Наш Край</i></h5>
        </div>
        <div class="col-xl-1 col-md-1 col-sm-1" align="center">
            <h5><i>Fozzy</i></h5>
        </div>



<h4><a class="btn btn-outline-danger" href="{% url 'thanks_set' %}" role="button">ЗАВЕРШИТЬ</a></h4>
{% endblock %}