{% extends 'my_app/base.html' %}
{% load static %}

{% block content %}
{% for info in content %}
<div class="main-page-style-blue">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12" align="center">
                <h1><b>{{info.title}}</b></h1>

                <h6><b>{{info.under_title}}</b></h6>

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-12 col-sm-12" align="center">
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12" align="center">

                <h7 align="left"><b>Поиск по фотографии товара:</b></h7>
                <div class="input-group">
                    <input type="file" class="form-control " id="inputGroupFile04"
                           aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <a href="{% url 'result_with_photo' %}" class="btn btn-outline-light" type="button" id="inputGroupFileAddon04">ПОИСК</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12" align="center">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-12 col-sm-12" align="center">
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12" align="center">
                <h7 align="left"><b>Поиск вручную:</b></h7>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Введите название товара"
                           aria-label="Enter" aria-describedby="button-addon2">
                    <a href="{% url 'home' %}" class="btn btn-outline-light" type="button" id="button-addon2">ПОИСК</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12" align="center">
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12" align="center">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h6 align="left">{{info.text_on_page}}</h6>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12" align="center">
            <h4><b>Популярные супермаркеты</b></h4>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12" align="center">

            <div class="btn-group">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <b><img src="{% static 'my_app/images/ATB.png' %}"> АТБ</b>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <b><img src="{% static 'my_app/images/silpo.png' %}"> Сильпо</b>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <b><img src="{% static 'my_app/images/varus.png' %}"> Varus</b>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <b><img src="{% static 'my_app/images/semiya.png' %}"> Семья</b>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <b><img src="{% static 'my_app/images/chudo.png' %}"> Чудо</b>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <b><img src="{% static 'my_app/images/ecomarket.png' %}"> ЭКО-Маркет</b>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                    <li><a class="dropdown-item" href="#">Цена на ...</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endfor %}
{% endblock %}